body{
    background-color:white;
}

header{
    text-align: center;
}

h1{
    color: green;
    text-align:  center;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

h2{
    color: green;
    text-align:  center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p{
    color: green ;
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul{
    color: green;
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.informacoes_pessoais {

        border-radius: 15px;
        border-color: green;
        border: 2px solid green;  
}

.foto{

     display: inline-block;
     padding: 5px;                  
     border: 1px solid black;        
             
}

a{
    color: green;
    text-decoration: none;
}

span{
    color: white;
    text-decoration: solid;
    background-color: rgb(64, 64, 176);
    padding: 5px;
    margin: 10px 10px;
    border-radius: 5px;
}


footer{
    border-style: solid 3px;
    color:green
    
}

